<!-- data interpolation -->
<!-- one way -->
<!-- class binding -->
<h1 class="text-center bg-danger text-white" [class.p-5]="isTrue">{{title}}</h1>
<!-- style binding -->
<h1 class="text-center bg-danger" [style.color]="isTrue?'white':'yellow'">{{title}}</h1>
<!-- property binding -->
<img [src]="imgSrc" alt="iPhone">

<!-- event binding -->
<button class="btn btn-danger" (click)="testClick()">Click</button>

<!-- two way -->
<input class="form-control w-50 m-auto" [(ngModel)]="testBanana" type="text">
<h2 class="text-center">{{testBanana}}</h2>

@if(isTrue){
<h2>True</h2>
} @else {}

<table>
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Age</th>
    <th>Price</th>
    <th>Date of Birth</th>
  </thead>
  <tbody>
    @for(user of users; track user.id){
    <tr>
      <td>{{user.id}}</td>
      <td>{{user.name|custom:user.gender}}</td>
      <td>{{user.age}}</td>
      <td>{{user.price|currency:'EUR'}}</td>
      <td>{{user.birth|date:'dd/MM/yyyy'}}</td>
    </tr>
    }
  </tbody>
</table>