<br><br><br>
@if(!sendMailFlag){
<div class="w-50 p-3 m-auto my-5 border-2 shadow rounded-3">
  <div class="w-50 m-auto p-5">
    <h1 class="text-center mb-4">Forget Password</h1>
    <form [formGroup]="sendMailForm" (ngSubmit)="sendMail(sendMailForm)">
      <div class="p-3">
        <input formControlName="email" class="form-control" type="email" placeholder="email">
        @if(sendMailForm.get('email')?.errors!==null&&sendMailForm.get('email')?.touched&&sendMailError===''){
        <div class="text-danger mt-3">
          @if(sendMailForm.get('email')?.errors?.['required']){<p>email Required</p>}
          @if(sendMailForm.get('email')?.errors?.['email']){<p>invalid email</p>}
        </div>
        }
        @if(sendMailError!==''){
        <div class="text-danger mt-3">
          <p>{{sendMailError}}</p>
        </div>
        }
      </div>
      <br>
      <button [disabled]="sendMailForm.invalid" class="btn btn-danger d-block form-control w-50 m-auto p-2">Send
        Mail</button>
    </form>
  </div>
</div>
}

@if(sendMailFlag && !verifyCodeFlag){
<div class="w-50 p-3 m-auto my-5 border-2 shadow rounded-3">
  <div class="w-50 m-auto p-5">
    <h1 class="text-center mb-4">Reset Code</h1>
    <form [formGroup]="verifyCodeForm" (ngSubmit)="verifyCode(verifyCodeForm)">
      <div class="p-3">
        <input formControlName="resetCode" class="form-control" type="text" placeholder="Reset Code">
        @if(verifyCodeForm.get('resetCode')?.errors!==null&&verifyCodeForm.get('resetCode')?.touched&&verifyCodeError===''){
        <div class="text-danger mt-3">
          @if(verifyCodeForm.get('resetCode')?.errors?.['required']){<p>Reset Code Required</p>}
          @if(verifyCodeForm.get('resetCode')?.errors?.['maxlength']){<p>invalid Reset Code</p>}
        </div>
        }
        @if(verifyCodeError!==''){
        <div class="text-danger mt-3">
          <p>{{verifyCodeError}}</p>
        </div>
        }
      </div>
      <br>
      <button [disabled]="verifyCodeForm.invalid" class="btn btn-danger d-block form-control w-50 m-auto p-2">Verify
        Code</button>
    </form>
  </div>
</div>
}

@if(verifyCodeFlag){
<div class="w-50 p-3 m-auto my-5 border-2 shadow rounded-3">
  <div class="w-50 m-auto p-5">
    <h1 class="text-center mb-4">Reset Password</h1>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm)">
      <div class="p-3">
        <input formControlName="password" class="form-control" type="password" placeholder="password">
        @if(resetPasswordForm.get('password')?.errors!==null&&resetPasswordForm.get('password')?.touched){
        <div class="text-danger mt-3">
          @if(resetPasswordForm.get('password')?.errors?.['required']){<p>password Required</p>}
          @if(resetPasswordForm.get('password')?.errors?.['minlength']||resetPasswordForm.get('password')?.errors?.['maxlength'])
          {<p>password length from 6,20</p>}
        </div>
        }
      </div>
      <div class="p-3">
        <input formControlName="confirmPassword" class="form-control" type="password" placeholder="confirm password">
        @if(resetPasswordForm.get('confirmPassword')?.errors!==null&&resetPasswordForm.get('confirmPassword')?.touched&&resetPasswordError===''){
        <div class="text-danger mt-3">
          @if(resetPasswordForm.get('confirmPassword')?.errors?.['required']){<p>confirm Password Required</p>}
          @if(resetPasswordForm.get('confirmPassword')?.errors?.['minlength']||resetPasswordForm.get('confirmPassword')?.errors?.['maxlength'])
          {<p>confirm Password length from 6,20</p>}
        </div>
        }
        @if(resetPasswordError!==''){
        <div class="text-danger mt-3">
          <p>{{resetPasswordError}}</p>
        </div>
        }
      </div>
      <br>
      <button [disabled]="resetPasswordForm.invalid" class="btn btn-danger d-block form-control w-50 m-auto p-2">Reset
        Password</button>
    </form>
  </div>
</div>
}