<!-- <div class="container m-auto mt-5 w-25">
  <ul class="pagination">
    <li (click)="changePage(1)" class="page-item"><button class="page-link">First</button></li>
    @if(pagination.prev){
    <li (click)="changePage(pagination.prev)" class="page-item"><button class="page-link">{{pagination.prev}}</button>
    </li>
    }
    <li class="page-item"><button disabled class="page-link">{{pagination.currentPage}}</button></li>
    @if(pagination.next){
    <li (click)="changePage(pagination.next)" class="page-item"><button class="page-link">{{pagination.next}}</button>
    </li>
    }
    <li (click)="changePage(pagination.totalPages!)" class="page-item"><button class="page-link">Last</button></li>
  </ul>
</div> -->