@if(length>0){
<section class="h-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0">Shopping Cart</h1>
                    <h6 class="mb-0 text-muted">productsLength items</h6>
                  </div>
                  <hr class="my-4">

                  @for(item of cart?.items; track item._id){
                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img [src]="productImage+item?.product?.cover" class="img-fluid rounded-3"
                        [alt]="item?.product?.name">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">{{item?.product?.subcategory?.name}}</h6>
                      <h6 class="mb-0">{{item?.product?.name}}</h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <h6 class="mb-0">Quantity {{item?.quantity}}</h6>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">{{item?.price|currency:'EUR'}}</h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <button (click)="removeProduct(item._id)" class="text-muted nav-link"><i
                          class="fas fa-times"></i></button>
                    </div>
                  </div>
                  <hr class="my-4">
                  }
                  <button (click)="clearCart()" class="btn btn-danger">Clear Cart</button>
                </div>
              </div>


              <div class="col-lg-4 bg-body-tertiary">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">{{length}} items</h5>
                    <h5>{{cart?.totalPrice|currency:'EUR'}}</h5>
                  </div>
                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">tax price</h5>
                    <h5>{{taxPrice|currency:'EUR'}}</h5>
                  </div>

                  <hr class="my-4">

                  <form [formGroup]="couponForm" (ngSubmit)="applyCoupon(couponForm)">
                    <h5 class="text-uppercase mb-3">Promo code</h5>

                    <div class="mb-5">
                      <div data-mdb-input-init class="form-outline">
                        <input formControlName="name" type="text" id="form3Examplea2"
                          class="form-control form-control-lg" />
                        <!-- @if(couponError !==''){
                          <label class="form-label text-danger" for="">{{couponError}}</label>
                          } -->
                      </div>
                    </div>
                    <button class="btn btn-outline-danger">Add Code</button>
                  </form>

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5>{{cart?.totalPrice+taxPrice|currency:'EUR'}}</h5>
                  </div>
                  @if(cart?.totalPriceAfterDiscount){
                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">After Discount</h5>
                    <h5>{{cart?.totalPriceAfterDiscount+taxPrice|currency:'EUR'}}</h5>
                  </div>
                  }

                  <button (click)="checkout()" type="button" data-mdb-button-init data-mdb-ripple-init
                    class="btn btn-danger btn-block btn-lg" data-mdb-ripple-color="dark">Checkout</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
}@else {
<h1 class="text-danger text-center m-5 p-5">your cart is empty</h1>
}