<div class="w-75 m-auto">
  <h2 class="text-center my-5">All Users</h2>
  <hr class="my-3">
  <div class="d-flex justify-content-between">
    <a class="btn btn-primary" routerLink="create">Create User</a>
    <button (click)="filterUsers('admin')" class="btn btn-success btn-sm rounded-3">View Admins</button>
    <button (click)="filterUsers('user')" class="btn btn-success btn-sm rounded-3">View Users</button>
    <input (change)="searchData(searchInput.value)" #searchInput class="form-control me-2 w-25" type="search"
      placeholder="Search" aria-label="Search">
  </div>
  <hr class="my-3">
  <table class="w-100">
    <thead>
      <tr class="border-bottom">
        <th>#</th>
        <th>ID</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Active</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for(user of users; track user._id){
      <tr class="m-5 border-bottom">
        <td>{{$index + 1}}</td>
        <td>{{user?._id|slice:-4}}</td>
        <td><img class="mx-3" width="50px" [src]="userImage+user?.image" [alt]="user?.name">{{user?.name}}
        </td>
        <td>{{user?.email}}</td>
        <td>{{user?.role}}</td>
        <td>@if(user?.active){yes}@else{No}</td>
        <td>
          <a [routerLink]="[user._id]" class="btn btn-primary btn-sm my-3 rounded-3 mx-3">More
            Details</a>
          <button (click)="changeActive(user._id,user.active)" class="btn btn-primary btn-sm my-3 rounded-3 mx-3">change
            Active</button>
          <button (click)="deleteUser(user._id)" class="btn btn-danger btn-sm rounded-3">Delete</button>
        </td>
      </tr>
      }
      @empty { <h1>empty</h1> }
    </tbody>
  </table>
</div>

<div class="container m-auto mt-5 w-25">
  <ul class="pagination">
    <li (click)="changePage(1)" class="page-item"><button class="page-link">First</button></li>
    @if(pagination.prev){
    <li (click)="changePage(pagination.prev)" class="page-item"><button class="page-link">{{pagination.prev}}</button>
    </li>
    }
    <li class="page-item"><button disabled class="page-link">{{pagination.currentPage}}</button></li>
    @if(pagination.next){
    <li (click)="changePage(pagination.next)" class="page-item"><button class="page-link">{{pagination.next}}</button>
    </li>
    }
    <li (click)="changePage(pagination.totalPages!)" class="page-item"><button class="page-link">Last</button></li>
  </ul>
</div>